
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    margin: 36px auto 20px;
    border: 2px solid #592f75;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 4px #cf74eb;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputWrapper label {
    font-size: 16px;
}

.inputWrapper input {
    padding: 10px 5px;
    border: 1px solid #592f75;
    border-radius: 5px;
    font-size: 16px;
}

.addContactBtn {
    padding: 10px 10px;
    border: 1px solid #592f75;
    border-radius: 5px;
    background-color: #7d268f;
    color: #e2c3f7;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    margin: 10px auto 0;

    /* transition: all 0.3s ease; */
    transition: all 0.3s ease-in-out;
}

.addContactBtn:hover {
    background-color: #ebbfff;
    color: #7d268f;
}

.error {
    color: red;
    font-size: 12px;
}
