/* src/index.css */
:root {
    --link-color:rgb(194, 194, 214);
    --active-link-color: rgb(102, 102, 153);
    --accent-color: rgb(57, 57, 92);
  }
  
body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: rgba(31, 31, 46, 0.582);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

