.wrapper {
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 10px 0;
    
    h3 {
        font-size: 18px;
        color: var(--link-color)
    }

    button {
        padding: 10px 15px;
        border-radius: 8px;
        border-style: none;
        background-color: rgba(139, 98, 201, 0.59);
        color: var(--link-color);
        font-size: 18px;
        cursor: pointer;

        transition: all 0.3s ease-in-out;
    }

    button:hover {
        background-color: rgba(169, 75, 187, 0.74);
    }
}